// Page Footer
.site-footer {
    grid-row: 3 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--site-footer-txt, $site-footer-txt-default);
    background: var(--site-footer-bg, $site-footer-bg-default);
    border-top: 3px solid var(--site-footer-border, $site-footer-border-default);
    font-size: 16px;
    padding: 5px 1.25em;
    margin-top: 60px;

    @include bp(medium1) {
        padding: 0 2.5em;
        margin-top: 120px;
    }
}

.site-footer-legal {
    display: flex;

    ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;

        li {
            margin-left: 10px;
        }
    }
}
