// Pageheader
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    background: rgba(9, 9, 9, 0.62);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 6vw), 0 100%);
    overflow: hidden;

    h1 {
        background: #000;
        color: #ddd;
        font-family: 'BigNoodleTitling', sans-serif;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 4px;
        text-shadow: 4px 3px #8653b1;
        border-top: 3px solid #7e61a3bd;
        border-bottom: 3px solid #7e61a3bd;
        margin: 0;
        padding: 10px 0;
        transform: rotateZ(-3deg);
        text-align: center;
        width: 120%;
        backface-visibility: initial;
        outline: 1px solid #0000;
        transform-style: preserve-3d;
    }

    h2 {
        color: #8653b1;
        font-family: 'BigNoodleTitling', sans-serif;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 400;
        margin: 13px 0 0;
        transform: rotate(-3deg);
        text-align: center;
        letter-spacing: 2px;
        width: 100%;
    }
}

.skip-link {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.33rem;
    box-sizing: border-box;
    display: inline-block;
    background: #fe9476;
    color: #263147;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    top: 1rem;
    left: 1rem;
    z-index: 99;
    border-radius: 0.25rem;
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
