// Text Module
.text {
    padding: 0 1.25em;

    @include bp(medium1) {
        padding: 0 2.5em;
    }

    h3 {
        font-size: 24px;
        font-weight: 420;
        color: var(--text-headline, $text-headline-default);
        margin-bottom: 0.8em;
    }
}
