// Text Module
.text {
    @include content-element-layout;

    ol,
    ul {
        list-style: none;
        counter-reset: li;
        padding: 0;
        margin-bottom: 1.15rem;
        max-width: 63ch;

        li {
            position: relative;
            margin-bottom: 1.15rem;
            padding-left: 2em;

            &:before {
                counter-increment: li;
                position: absolute;
                left: 0;
                margin-right: 0.25em;
                color: var(--list-marker, $purple4);
                font-weight: 500;
            }
        }

        &.alpha {
            li {
                &:before {
                    content: counter(li, upper-alpha) '.';
                }
            }
        }

        &.decimal {
            li {
                &:before {
                    content: counter(li, decimal-leading-zero) '.';
                }
            }
        }

    }

    ul {
        li {
            padding-left: 1.8em;

            &:before {
                content: '';
                width: 9px;
                height: 9px;
                top: 0.6em;
                background: var(--list-marker, $purple4);

            }
        }
    }

    a {
        color: var(--text-link, $text-link-default);
        border-bottom: 1px dashed;

        &:hover {
            border-bottom: 1px solid;
        }
    }
}
