$white: #fff;
$black: #000;
$transparent: transparent;
$grey1: #090909;
$grey2: #cbcbca;
$purple1: #8653b1;
$purple2: #7e61a3bd;
$yellow1: #feb309;

// Basics
$body-txt-default: $white;
$body-txt-theme1: $black;

// Site Header
$site-header-bg-default: transparentize($grey1, 0.38);
$site-header-h1-bg: $black;
$site-header-h1-txt: $grey2;
$site-header-h1-shadow: $purple1;
$site-header-h1-border: $purple2;
$site-header-h2-txt: $purple1;

// Site Header Theme1
$site-header-bg-default: transparentize($grey1, 0.18);

// Site Footer
$site-footer-bg-default: transparentize($grey1, 0.38);
$site-footer-bg-theme1: transparentize($grey1, 0.1);
$site-footer-txt-default: $purple1;
$site-footer-txt-theme1: $purple1;
$site-footer-border-default: $purple1;
$site-footer-border-theme1: $purple1;

// Text
$text-headline-default: $yellow1;
$text-headline-theme1: $purple1;
