/* z-index */
@function z($layer) {
    @if not map-has-key($z-layers, $layer) {
        @warn 'No layer found for `#{$layer}` in $z-layers map. Property omitted.';
    }

    @return map-get($z-layers, $layer);
}

@mixin content-element-layout {
    padding: 0 6.25%;

    @include bp(1350px) {
        max-width: 1350px;
        margin: 0 auto;
        padding: 0 75px;
    }
}
