{% extends "layouts/base.html" %}
{% block content %}
<article class="intro text">
    <figure class="intro-image-container">
        <picture>
            <source type="image/webp"
            srcset="
            /images/intro2/intro2-1470.webp 1470w,
            /images/intro2/intro2-1020.webp 1020w,
            /images/intro2/intro2-980.webp 980w,
            /images/intro2/intro2-870.webp 870w,
            /images/intro2/intro2-810.webp 810w,
            /images/intro2/intro2-680.webp 680w,
            /images/intro2/intro2-580.webp 580w,
            /images/intro2/intro2-540.webp 540w,
            /images/intro2/intro2-490.webp 490w,
            /images/intro2/intro2-340.webp 340w,
            /images/intro2/intro2-290.webp 290w,
            /images/intro2/intro2-270.webp 270w"

            sizes="
            (min-width: 1350px) 490px,
            (min-width: 1024px) 340px,
            290px" />

            <source type="image/png"
            srcset="
            /images/intro2/intro2-1470.png 1470w,
            /images/intro2/intro2-1020.png 1020w,
            /images/intro2/intro2-980.png 980w,
            /images/intro2/intro2-870.png 870w,
            /images/intro2/intro2-810.png 810w,
            /images/intro2/intro2-680.png 680w,
            /images/intro2/intro2-580.png 580w,
            /images/intro2/intro2-540.png 540w,
            /images/intro2/intro2-490.png 490w,
            /images/intro2/intro2-340.png 340w,
            /images/intro2/intro2-290.png 290w,
            /images/intro2/intro2-270.png 270w"

            sizes="
            (min-width: 1350px) 490px,
            (min-width: 1024px) 340px,
            290px" />
            <img class="intro-image" src="/images/intro2/intro-lquip.png" width="290" height="290" alt="Foto von Felix Kirmaier">
        </picture>
    </figure>
    <h2 class="intro-headline">{{intro.headline}}</h2>
    <div class="intro-text">
        {{ content | safe }}
    </div>
    </article>
{% endblock %}