{% extends "layouts/base.html" %}
{% block content %}
<article class="intro text">
    <figure class="intro-image-container">
        <picture>
            <source type="image/webp"
            srcset="
            /images/intro/intro_762.webp 762w,
            /images/intro/intro_500.webp 500w,
            /images/intro/intro_388.webp 388w,
            /images/intro/intro_300.webp 300w,
            /images/intro/intro_290.webp 290w"

            sizes="
            (min-width: 1350px) 500px,
            (min-width: 1024px) 350px,
            290px" />
            <source type="image/png"
            srcset="
            /images/intro/intro_762.png 762w,
            /images/intro/intro_500.png 500w,
            /images/intro/intro_388.png 388w,
            /images/intro/intro_300.png 300w,
            /images/intro/intro_290.png 290w"

            sizes="
            (min-width: 1350px) 500px,
            (min-width: 1024px) 350px,
            290px" />
            <img class="intro-image" src="/images/intro/intro_lquip.png" width="290" height="290" alt="Foto von Felix Kirmaier">
        </picture>
    </figure>
    <h2 class="intro-headline">{{intro.headline}}</h2>
    <div class="intro-text">
        {{ content | safe }}
    </div>
    </article>
{% endblock %}