{% extends "layouts/base.html" %}

{% block content %}
    <article class="text intro">
        <h1>{{mainheadline}} </h1>
        {% if address %}
        <h4>{{address.headline}}</h4>
        <address>
            {{address.name}}<br>
            {{address.street}}<br>
            {{address.city}}<br>
            Telefon:&nbsp;{{address.phone}}<br>
            E-Mail:&nbsp;<a href="mailto:{{address.email}}">{{address.email}}</a><br>
            Website:&nbsp;<a href="https://{{address.website}}">{{address.website}}</a><br>
        </address>
        {% endif %}
        {{ content | safe }}
    </article>
{% endblock %}