// Basics Theme
.theme0 {
    --body-txt: #{$body-txt-default};
}

.theme1 {
    --body-txt: #{$body-txt-theme1};
}

body {
    @media (prefers-color-scheme: dark) {
        --body-txt: #{$body-txt-default};
        background: url('../images/grunge_purple2X.jpg');
    }

    @media (prefers-color-scheme: light) {
        --body-txt: #{$body-txt-theme1};
        background: url('../images/grunge2X.jpg');
    }
}
